@import "tailwindcss";

:root {
  --color-primary: #8CA87C; /*verde apagado*/
  --color-preto: #000000;
  --color-verde-escuro: #3E5120;
  --color-verde-acinzentado: #414B3B;
  --color-marrom: #764B36;
  --color-cinza-claro: #B3BAB0;
  --color-laranja-apagado: #B49F77;
  --color-verde-claro: #CED6CB;
  --color-laranja-acinzentado-pastel: #D8A790;
  --color-laranja-claro: #EFE7DD;
  --color-laranja-claro-light: #FFF9F3;
}

body{
  background-color: var(--color-laranja-claro-light);
}

.bg-primary {
  background-color: var(--color-primary);
}
.bg-preto {
  background-color: var(--color-preto);
}
.bg-verde-escuro {
  background-color: var(--color-verde-escuro);
}
.bg-verde-acinzentado {
  background-color: var(--color-verde-acinzentado);
}
.bg-marrom {
  background-color: var(--color-marrom);
}
.bg-cinza-claro {
  background-color: var(--color-cinza-claro);
}
.bg-laranja-apagado {
  background-color: var(--color-laranja-apagado);
}
.bg-verde-claro {
  background-color: var(--color-verde-claro);
}
.bg-laranja-acinzentado-pastel {
  background-color: var(--color-laranja-acinzentado-pastel);
}
.bg-laranja-claro {
  background-color: var(--color-laranja-claro);
}
.bg-laranja-claro-light {
  background-color: var(--color-laranja-claro-light);
}

.text-primary {
  color: var(--color-primary);
}
.text-preto {
  color: var(--color-preto);
}
.text-verde-escuro {
  color: var(--color-verde-escuro);
}
.text-verde-acinzentado {
  color: var(--color-verde-acinzentado);
}
.text-marrom {
  color: var(--color-marrom);
}
.text-cinza-claro {
  color: var(--color-cinza-claro);
}
.text-laranja-apagado {
  color: var(--color-laranja-apagado);
}
.text-verde-claro {
  color: var(--color-verde-claro);
}
.text-laranja-acinzentado-pastel {
  color: var(--color-laranja-acinzentado-pastel);
}
.text-laranja-claro {
  color: var(--color-laranja-claro);
}
.text-laranja-claro-light {
  color: var(--color-laranja-claro-light);
}