@import "tailwindcss";

@theme {
  --font-display: "sans-serif";
  --color-primary: oklch(0.6986 0.0697 134.38); /* #8CA87C;*/ /*verde apagado*/
  --color-preto: #000000;
  --color-verde-escuro: #3E5120;
  --color-verde-acinzentado: #414B3B;
  --color-marrom: #764B36;
  --color-cinza-claro: #B3BAB0;
  --color-laranja-apagado: #B49F77;
  --color-verde-claro: #CED6CB;
  --color-laranja-acinzentado-pastel: #D8A790;
  --color-laranja-claro: #EFE7DD;
  --color-laranja-claro-light: #FFF9F3;
}